num_of_winners: 10 #当選者数
tweet_url: 'https://twitter.com/...' # giveaway対象のTweet URL
conditions:
    # 当選の最低条件
    must_follow: # フォロー必須（リスト形式@マークなし）
    - account_1
    # - account_2
    exclude: # 当選から除外（リスト形式@マークなし）
    - account_1
    # - account_2
    must_have_pfp: true # プロフィール画像必須ならtrue
    follower_lower_limit: 20 # フォロワー下限